body{
    background: rgb(138, 49, 49);
}
header {
    background: rgb(138, 49, 49);
    height: 10vh;
    width: 70vw;
}

main {
    height: 80vh;
    width: 70vw;
}

.imgTela{
    width: 71%;
    height: 58%;
}

footer {
    background: rgb(138, 49, 49);
    height: 10vh;
    width: 70vw;
}