body{
    background: rgb(63, 188, 226);
}
header {
    background: rgb(63, 188, 226);
    height: 25vh;
    width: 70vw;
}

main {
    height:50vh;
    width: 70vw;
}

.imgTela{
    padding: 10px;
    width: 71%;
    height: 58%;
}

footer {
    background: rgb(63, 188, 226);
    height: 25vh;
    width: 70vw;
}